{% extends "auth/_layout.html" %}
{% from "auth/_icons.html" import icon %}
{% block title %}Set New Password - {{ app_name }}{% endblock %}
{% block head %}
{{ super() }}
{% if msg %}
<meta http-equiv="refresh" content="2;url={{ redirect_url }}" />
{% endif %}
{% endblock %}
{% block auth_heading %}Set a new <span>password</span>{% endblock %}
{% block auth_subtitle %}Please enter your new password below.{% endblock %}
{% block auth_form %}
<form class="au-fields" method="POST" action="/auth/reset-password">
    <input type="hidden" name="token" value="{{ token }}" />

    {% if error %}
    <div class="alert alert--error">{{ error }}</div>
    {% endif %}
    {% if msg %}
    <div class="alert alert--success">{{ msg }}</div>
    {% endif %}

    <div class="au-input">
        <label class="au-sr" for="new_password">New password</label>
        {{ icon("lock") }}
        <input name="new_password" id="new_password" type="password" placeholder="New password" class="form-input"
            autocomplete="new-password" required />
    </div>

    <div class="au-input">
        <label class="au-sr" for="confirm_password">Confirm password</label>
        {{ icon("lock") }}
        <input name="confirm_password" id="confirm_password" type="password" placeholder="Confirm new password"
            class="form-input" autocomplete="new-password" required />
    </div>

    <button type="submit" class="au-btn">{{ icon("key", "au-btn__icon") }}Update password</button>
</form>
{% endblock %}
