{% extends "admin/_layout.html" %}
{% block title %}Messages - Admin - {{ app_name }}{% endblock %}
{% set crumb = 'Messages' %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ asset('platform', 'css/chat.css') }}" />
{% endblock %}
{% block layout_class %} chat-admin{% endblock %}
{% block rail %}{% endblock %}

{% block main %}
    <div class="chat-page chat-page--admin">
        {% set portal = "admin" %}
        {% include "chat/_app.html" %}
    </div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ asset('platform', 'js/chat.js') }}"></script>
{% endblock %}
