<footer class="site-footer">
    <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="grid sm:grid-cols-2 gap-8">
            <div>
                <h3>Company Information</h3>
                <ul>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/#testimonials">Reviews</a></li>
                    <li><a href="/#faq">FAQs</a></li>
                </ul>
            </div>
            <div>
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="/auth/login">Portal Login</a></li>
                    <li><a href="/auth/register">Get Started</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
